@model List<BulkyWeb.Models.Product>


    <h1>This is Main Page</h1>

    <div class="row pb-2">

        @foreach(var mod in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                  <div class="card border-0 p-3 shadow border-top border-5 rounded">

                     <img src="@mod.imageUrl" class="card-img-top rounded"/> 
                     <div class ="p-1">
                         <p class="card-title h5 text-secondary opacity-75 text-uppercase text-center">@mod.Title </p>
                         <p class="card-title text-warning text-center">by @mod.Author</p>


                         </div>
                        <div class="p-1">
                            <p class="text-info opacity-75 text-uppercase text-center m-0">List Price:<span class="text-decoration-line-through">@mod.Price.ToString("c") </span> </p>


                        </div>
                        <div class="p-1">
                            <p class="text-info opacity-75 text-uppercase text-center">As low as: <span> @mod.Price100.ToString("c")  </span> </p>


                        </div>
                        <div>
                            <a asp-action="Details" asp-route-productID="@mod.Id" class="btn btn-primary bg-gradient form-control border-0">
                                Details
                            </a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        
    }


    </div>